﻿@model PigeonLeague.Models.Member

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_PostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account_PWD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_PWD)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
