﻿@model PigeonLeague.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member_FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_CountryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_PostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Member_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Account_PWD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Account_PWD)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Member_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
