﻿@model IEnumerable<PigeonLeague.Models.Member>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Member_FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_CountryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_PostCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_Mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Member_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account_PWD)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Member_FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member_LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member_CountryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member_CityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member_PostCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member_Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member_Mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Account_PWD)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Member_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Member_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Member_ID })
        </td>
    </tr>
}

</table>
