﻿@model PigeonLeague.Models.Pigeonry

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pigeonry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_Owner_ID )
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.MemberFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry_Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry_Location)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
