﻿@model PigeonLeague.Models.Pigeonry

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pigeonry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_Owner_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Member.MemberFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry_Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry_City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry_Location)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pigeonry_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
