﻿@model IEnumerable<PigeonLeague.Models.Pigeonry>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pigeonry_Owner_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pigeonry_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pigeonry_Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pigeonry_City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pigeonry_state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pigeonry_Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pigeonry_Location)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Member.MemberFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pigeonry_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pigeonry_Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pigeonry_City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pigeonry_state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pigeonry_Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pigeonry_Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Pigeonry_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Pigeonry_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Pigeonry_ID })
        </td>
    </tr>
}

</table>
