﻿@model PigeonLeague.Models.Pigeon

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pigeon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry.Pigeonry_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry.Pigeonry_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeon_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeon_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeon_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeon_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeon_Father_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeon_Father_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeon_Mother_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeon_Mother_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Association_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Association_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Association_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Association_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESFR_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESFR_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extend_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extend_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeon_Pic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeon_Pic)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
