﻿@model PigeonLeague.Models.Pigeon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pigeon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pigeonry.Pigeonry_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeonry.Pigeonry_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeon_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeon_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeon_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeon_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeon_Father_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeon_Father_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeon_Mother_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeon_Mother_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Association_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Association_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Association_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Association_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESFR_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESFR_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extend_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extend_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pigeon_Pic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pigeon_Pic)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Pigeon_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
