﻿@model IEnumerable<PigeonLeague.Models.Pigeon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pigeonry.Pigeonry_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pigeon_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pigeon_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pigeon_Father_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pigeon_Mother_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Association_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Association_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESFR_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Extend_Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pigeon_Pic)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pigeonry.Pigeonry_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pigeon_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pigeon_Type_Name )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pigeon_Father_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pigeon_Mother_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Association_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Association_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESFR_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Extend_Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pigeon_Pic)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Pigeon_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Pigeon_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Pigeon_ID })
        </td>
    </tr>
}

</table>
