﻿@model  PigeonLeague.Models.LogonViewModel
@{
    ViewBag.Title = "Logon";
}

    <style type="text/css">
        body {
            padding-top: 100px;
            padding-bottom: 50px;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="span4 offset4 well">
               <legend>登入</legend>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        @Html.ValidationSummary()
                    </div>
                }

                @using (Html.BeginForm("Logon", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.TextBoxFor(x => x.Account, new { @class = "span4", placeholder = "帳號", AutoComplete = "Off", tabindex = "1" })
                    @Html.PasswordFor(x => x.Password, new { @class = "span4", placeholder = "密碼", AutoComplete = "Off", tabindex = "2" })

                    <label>
                        @Html.CheckBoxFor(x => x.Remember)
                        @Html.DisplayNameFor(x => x.Remember)
                    </label>

                    <div style="padding-top: 10px;">
                        <button type="submit" name="submit" class="btn btn-primary">登入</button>
                        <button type="button" name="reset" class="btn">清除</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#Account').focus();
            $('button[name=reset]').click(function () {
                $('#Account').val('');
                $('#Password').val('');
                $('#Remember').prop('checked', '');
                if ($('.alert>a.close').length > 0) {
                    $('.alert>a.close').trigger('click');
                }
            });
        });
    </script>
