﻿<ul class="nav navbar-nav pull-right">
    @if (Request.IsAuthenticated)
    {
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="@Url.Action("Logout", "Home")"><i class="icon-off"></i> 登出</a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li>@Html.ActionLink("登入", "Logon", "Home")</li>
    }
</ul>

