﻿@model PigeonLeague.Models.SystemRole

@{
    ViewBag.Title = "Details";
    var memberName = ViewBag.MemberFullName;
}

<h2>Details</h2>

<div>
    <h4>SystemRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RoleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsEnable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsEnable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => memberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifyOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifyOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
