﻿@model IEnumerable<PigeonLeague.Models.SystemRole>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEnable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifyOn)
        </th>
        <th></th>
    </tr>
    @{
        var members = (IEnumerable<PigeonLeague.Models.Member>)ViewBag.Members;
    }
    
    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEnable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => members.FirstOrDefault(m => m.Member_ID == item.ModifyBy).MemberFullName )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RoleID }) |
            @Html.ActionLink("Details", "Details", new { id = item.RoleID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RoleID })
        </td>
    </tr>
    }

</table>
